=fontAwesome($content)
	content: $content
	font-family: 'FontAwesome'
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: normal
	line-height: 1
	font-smoothing: antialiased

=simpleIcon($content)
	content: $content
	font-family: 'simple-line-icons'
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: normal
	line-height: 1
	font-smoothing: antialiased

=animate($type)
	-webkit-animation: $type 0.3s ease-out
	-moz-animation: $type 0.3s ease-out
	-ms-animation: $type 0.3s ease-out
	-o-animation: $type 0.3s ease-out
	animation: $type 0.3s ease-out

=rotate($deg)
	-webkit-transform: rotate($deg)
  -moz-transform: rotate($deg)
  -ms-transform: rotate($deg)
  -o-transform: rotate($deg)
  transform: rotate($deg)

=transition()
	transition: all 0.2s ease-in-out
