//Colors
$primary-color: #2e8ea8
$elmhover: rgba(12, 12, 12, 0.07)
$bodybackground: #eef1f5
$loginbackground: #FFF
$fontcolor: #484848
$menu-background: #3d4a53

//Fonts
$heading-font: 'Open Sans', sans-serif
$body-font: 'Open Sans', sans-serif
@import mixin
@font-face
  font-family: 'Uniform'
  src: url('../fonts/UniformRegular.woff2') format('woff')

@font-face
  font-family: 'UniformBold'
  src: url('../fonts/UniformBold.woff2') format('woff')

//Shadows
$lowshadow: 0 1px 10px 0 rgba(50,50,50,.2)
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33)
$boxshadow: 0 2px 6px rgba(0,0,0,.08)
