@-webkit-keyframes fadeIn
  from
    opacity: 0

  to
    opacity: 1


@-moz-keyframes fadeIn
  from
    opacity: 0

  to
    opacity: 1


@-o-keyframes fadeIn
  from
    opacity: 0

  to
    opacity: 1


@-ms-keyframes fadeIn
  from
    opacity: 0

  to
    opacity: 1


@keyframes fadeIn
  from
    opacity: 0

  to
    opacity: 1


@-webkit-keyframes zoom-down
  from
    -webkit-transform-origin: top
    -moz-transform-origin: top
    -ms-transform-origin: top
    transform-origin: top
    -webkit-transform: scale(0, 0)
    -ms-transform: scale(0, 0)
    -o-transform: scale(0, 0)
    transform: scale(0, 0)

  to
    -webkit-transform: scale(1, 1)
    -ms-transform: scale(1, 1)
    -o-transform: scale(1, 1)
    transform: scale(1, 1)


@-moz-keyframes zoom-down
  from
    -webkit-transform-origin: top
    -moz-transform-origin: top
    -ms-transform-origin: top
    transform-origin: top
    -webkit-transform: scale(0, 0)
    -ms-transform: scale(0, 0)
    -o-transform: scale(0, 0)
    transform: scale(0, 0)

  to
    -webkit-transform: scale(1, 1)
    -ms-transform: scale(1, 1)
    -o-transform: scale(1, 1)
    transform: scale(1, 1)


@-o-keyframes zoom-down
  from
    -webkit-transform-origin: top
    -moz-transform-origin: top
    -ms-transform-origin: top
    transform-origin: top
    -webkit-transform: scale(0, 0)
    -ms-transform: scale(0, 0)
    -o-transform: scale(0, 0)
    transform: scale(0, 0)

  to
    -webkit-transform: scale(1, 1)
    -ms-transform: scale(1, 1)
    -o-transform: scale(1, 1)
    transform: scale(1, 1)


@-ms-keyframes zoom-down
  from
    -webkit-transform-origin: top
    -moz-transform-origin: top
    -ms-transform-origin: top
    transform-origin: top
    -webkit-transform: scale(0, 0)
    -ms-transform: scale(0, 0)
    -o-transform: scale(0, 0)
    transform: scale(0, 0)

  to
    -webkit-transform: scale(1, 1)
    -ms-transform: scale(1, 1)
    -o-transform: scale(1, 1)
    transform: scale(1, 1)


@keyframes zoom-down
  from
    -webkit-transform-origin: top
    -moz-transform-origin: top
    -ms-transform-origin: top
    transform-origin: top
    -webkit-transform: scale(0, 0)
    -ms-transform: scale(0, 0)
    -o-transform: scale(0, 0)
    transform: scale(0, 0)

  to
    -webkit-transform: scale(1, 1)
    -ms-transform: scale(1, 1)
    -o-transform: scale(1, 1)
    transform: scale(1, 1)


@-webkit-keyframes zoom-up
  from
    -webkit-transform-origin: bottom
    -moz-transform-origin: bottom
    -ms-transform-origin: bottom
    transform-origin: bottom
    -webkit-transform: scale(0, 0)
    -ms-transform: scale(0, 0)
    -o-transform: scale(0, 0)
    transform: scale(0, 0)

  to
    -webkit-transform: scale(1, 1)
    -ms-transform: scale(1, 1)
    -o-transform: scale(1, 1)
    transform: scale(1, 1)


@-moz-keyframes zoom-up
  from
    -webkit-transform-origin: bottom
    -moz-transform-origin: bottom
    -ms-transform-origin: bottom
    transform-origin: bottom
    -webkit-transform: scale(0, 0)
    -ms-transform: scale(0, 0)
    -o-transform: scale(0, 0)
    transform: scale(0, 0)

  to
    -webkit-transform: scale(1, 1)
    -ms-transform: scale(1, 1)
    -o-transform: scale(1, 1)
    transform: scale(1, 1)


@-o-keyframes zoom-up
  from
    -webkit-transform-origin: bottom
    -moz-transform-origin: bottom
    -ms-transform-origin: bottom
    transform-origin: bottom
    -webkit-transform: scale(0, 0)
    -ms-transform: scale(0, 0)
    -o-transform: scale(0, 0)
    transform: scale(0, 0)

  to
    -webkit-transform: scale(1, 1)
    -ms-transform: scale(1, 1)
    -o-transform: scale(1, 1)
    transform: scale(1, 1)


@-ms-keyframes zoom-up
  from
    -webkit-transform-origin: bottom
    -moz-transform-origin: bottom
    -ms-transform-origin: bottom
    transform-origin: bottom
    -webkit-transform: scale(0, 0)
    -ms-transform: scale(0, 0)
    -o-transform: scale(0, 0)
    transform: scale(0, 0)

  to
    -webkit-transform: scale(1, 1)
    -ms-transform: scale(1, 1)
    -o-transform: scale(1, 1)
    transform: scale(1, 1)


@keyframes zoom-up
  from
    -webkit-transform-origin: bottom
    -moz-transform-origin: bottom
    -ms-transform-origin: bottom
    transform-origin: bottom
    -webkit-transform: scale(0, 0)
    -ms-transform: scale(0, 0)
    -o-transform: scale(0, 0)
    transform: scale(0, 0)

  to
    -webkit-transform: scale(1, 1)
    -ms-transform: scale(1, 1)
    -o-transform: scale(1, 1)
    transform: scale(1, 1)


@-webkit-keyframes slide-right
  from
    -webkit-transform: translate(-20px, 0)
    -ms-transform: translate(-20px, 0)
    -o-transform: translate(-20px, 0)
    transform: translate(-20px, 0)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@-moz-keyframes slide-right
  from
    -webkit-transform: translate(-20px, 0)
    -ms-transform: translate(-20px, 0)
    -o-transform: translate(-20px, 0)
    transform: translate(-20px, 0)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@-o-keyframes slide-right
  from
    -webkit-transform: translate(-20px, 0)
    -ms-transform: translate(-20px, 0)
    -o-transform: translate(-20px, 0)
    transform: translate(-20px, 0)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@-ms-keyframes slide-right
  from
    -webkit-transform: translate(-20px, 0)
    -ms-transform: translate(-20px, 0)
    -o-transform: translate(-20px, 0)
    transform: translate(-20px, 0)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@keyframes slide-right
  from
    -webkit-transform: translate(-20px, 0)
    -ms-transform: translate(-20px, 0)
    -o-transform: translate(-20px, 0)
    transform: translate(-20px, 0)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@-webkit-keyframes slide-left
  from
    -webkit-transform: translate(20px, 0)
    -ms-transform: translate(20px, 0)
    -o-transform: translate(20px, 0)
    transform: translate(20px, 0)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@-moz-keyframes slide-left
  from
    -webkit-transform: translate(20px, 0)
    -ms-transform: translate(20px, 0)
    -o-transform: translate(20px, 0)
    transform: translate(20px, 0)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@-o-keyframes slide-left
  from
    -webkit-transform: translate(20px, 0)
    -ms-transform: translate(20px, 0)
    -o-transform: translate(20px, 0)
    transform: translate(20px, 0)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@-ms-keyframes slide-left
  from
    -webkit-transform: translate(20px, 0)
    -ms-transform: translate(20px, 0)
    -o-transform: translate(20px, 0)
    transform: translate(20px, 0)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@keyframes slide-left
  from
    -webkit-transform: translate(20px, 0)
    -ms-transform: translate(20px, 0)
    -o-transform: translate(20px, 0)
    transform: translate(20px, 0)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@-webkit-keyframes slide-down
  from
    -webkit-transform: translate(0, -20px)
    -ms-transform: translate(0, -20px)
    -o-transform: translate(0, -20px)
    transform: translate(0, -20px)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@-moz-keyframes slide-down
  from
    -webkit-transform: translate(0, -20px)
    -ms-transform: translate(0, -20px)
    -o-transform: translate(0, -20px)
    transform: translate(0, -20px)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@-o-keyframes slide-down
  from
    -webkit-transform: translate(0, -20px)
    -ms-transform: translate(0, -20px)
    -o-transform: translate(0, -20px)
    transform: translate(0, -20px)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@-ms-keyframes slide-down
  from
    -webkit-transform: translate(0, -20px)
    -ms-transform: translate(0, -20px)
    -o-transform: translate(0, -20px)
    transform: translate(0, -20px)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@keyframes slide-down
  from
    -webkit-transform: translate(0, -20px)
    -ms-transform: translate(0, -20px)
    -o-transform: translate(0, -20px)
    transform: translate(0, -20px)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@-webkit-keyframes slide-up
  from
    -webkit-transform: translate(0, 20px)
    -ms-transform: translate(0, 20px)
    -o-transform: translate(0, 20px)
    transform: translate(0, 20px)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@-moz-keyframes slide-up
  from
    -webkit-transform: translate(0, 20px)
    -ms-transform: translate(0, 20px)
    -o-transform: translate(0, 20px)
    transform: translate(0, 20px)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@-o-keyframes slide-up
  from
    -webkit-transform: translate(0, 20px)
    -ms-transform: translate(0, 20px)
    -o-transform: translate(0, 20px)
    transform: translate(0, 20px)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@-ms-keyframes slide-up
  from
    -webkit-transform: translate(0, 20px)
    -ms-transform: translate(0, 20px)
    -o-transform: translate(0, 20px)
    transform: translate(0, 20px)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1


@keyframes slide-up
  from
    -webkit-transform: translate(0, 20px)
    -ms-transform: translate(0, 20px)
    -o-transform: translate(0, 20px)
    transform: translate(0, 20px)
    opacity: 0

  to
    -webkit-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
    opacity: 1
