.block
  background: #fff
  padding: 15px
  &.first
    margin-left: -25px !important
    @media (min-width: 1220px)
      margin-left: -35px !important
  &.full
    padding: 0 !important
    .block-title
      margin: 0px 0px 20px
  .block-title
    margin: -15px -15px 20px
    background-color: #f8f8f8
    border-bottom: 1px solid #eaedf1
    h1, h2, h3, h4, h5, h6
      display: inline-block
      font-size: 16px
      line-height: 1.4
      margin: 0
      padding: 10px 16px 7px
      font-weight: 400
  .heading
    display: block
    font-size: 12px
    font-weight: 600
    text-transform: uppercase
    padding: 0 0 12px
    letter-spacing: 0.06em
    border-bottom: solid 1px #EEE
    margin-bottom: 10px
    margin-top: 20px
    width: 100%
