button
  font-family: UniformBold
  border: 2px solid
  text-transform: uppercase
  border-radius: 6em
  padding: .5em .75em
  line-height: 1.4
  cursor: pointer
  position: relative
  transition: all .167s ease
  background: transparent
  .fa
    margin-left: 8px
.cancel
  color: #bc1038
  border-color: #bc1038
  &:hover
    color: #fff
    background: #bc1038
.confirm
  float: right
  color: #36bca3
  border-color: #36bca3
  &:hover
    color: #fff
    background: #36bca3
