.contacts
  .contactList
    min-width: 570px
    background: #fff
    @media (max-width: 768px)
      min-width: 100%
    .contact-line
      position: relative
      padding: 15px 38.5px
      background: transparent
      border-bottom: 1px solid rgba(40, 56, 64, 0.1)
      box-sizing: border-box
      transition: all 0.5s ease
      &.selected::before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: .25em
        height: 100%
        background: $primary-color
      &:hover::before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: .25em
        height: 100%
        background: lighten($primary-color, 10%)
      .uk-grid>*
        padding-left: 0px
      .avatar
        display: inline-block
        img
          width: 25px
          border-radius: 3px
      .name
        font-size: 16px
        font-weight: 600
        @media (max-width: 500px)
          margin-left: 7px
        a:hover
          color: $primary-color
      .company
        margin-left: 7px
        opacity: 0.75
        font-size: 10px
        @media (max-width: 500px)
          display: block
      .details
        display: none
        position: absolute
        right: 10px
        top: 0
        padding: 19px 15px 15px 25px
        text-align: right
        @media (max-width: 800px)
          display: none!important
        .detail
          display: inline-block
          margin-left: 10px
          margin-bottom: 0px
      &:hover
        cursor: pointer
        .details
          display: inline-block
