.content-wrapper
	margin-left: 120px
	padding: 0px 0px 0px 0px
	overflow-x: hidden
	height: 100%
	overflow: hidden
	position: relative
	@media (max-width: 768px)
		margin-left: 0
	.guide
		position: absolute
		right: 0
		top: 50%
		margin-top: -67
		width: 50%
		text-align: center
		@media (max-width: 1259px)
			width: calc(100% - 570px)
		@media (max-width: 800px)
			display: none
		img
			height: 70px
			margin-bottom: 28px
		h2
			font-size: 14px
			text-transform: uppercase

	.overlay
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		background: #000
		z-index: 18
		opacity: 0
		visibility: hidden
		transition: all .3s ease
		&.show
			visibility: visible
			opacity: .75
		.spinner
			position: absolute
			top: 50%
			left: 50%
			margin-top: -36px
			margin-left: -23px
			opacity: 1
			color: $primary-color
	.confirmation-box
		position: absolute
		z-index: 20
		top: 120px
		left: 50%
		margin-left: -160px
		width: 100%
		max-width: 320px
		min-height: 120px
		border-radius: 5px
		background: #283840
		box-shadow: $boxshadow
		color: #fff
		padding: 15px 20px
		opacity: 0
		visibility: hidden
		transition: all .3s ease
		&.show
			visibility: visible
			opacity: 1
		h3
			font-size: 16
			font-family: UniformBold
			text-transform: uppercase
		.tools
			margin: 25px 0 5px 0
	.content-header
		width: 100%
		padding: 21px 38.5px
		min-height: 83px
		box-shadow: inset 4px 0 6px -4px rgba(30, 42, 48, 0.1)
		border-bottom: 1px solid rgba(40, 56, 64, 0.1)
		background: #fff
		h3
			text-transform: uppercase
			font-size: 18px
			padding-bottom: 17px
			a
				font-size: 18px
				margin-left: 12px
		.header-tools
			width: 100%
			.tool
				font-family: UniformBold
				display: inline-block
				margin-right: 20px
				transition: all .3s ease
				&.button
					opacity: 0.5
					&.active
						opacity: 1
					&:hover
						opacity: .7
						cursor: pointer
				.label
					margin-left: 8px
					text-transform: uppercase
					font-weight: 700
					font-size: 11px
				input
					width: 140px
					border-radius: 100px
					background: #f0f3f4
					padding: 3px 18px
					font-size: 12px
					border: 0
	.scroll
		height: 100%
		overflow: hidden
		overflow-y: scroll
	.content-button
		width: 100%
		text-align: center
		font-family: UniformBold
		font-size: 16px
		background: $primary-color
		padding: 20px
		text-transform: uppercase
		color: #fff
		transition: all .6s ease
		font-weight: 700
		&:hover
			cursor: pointer
			background: darken($primary-color, 10%)
	.content-slider
		position: absolute
		top: 0
		bottom: 0
		right: -50%
		transition: all .9s ease
		width: 50%
		min-width: 570px
		background: #fff
		box-shadow: $shadow
		padding-bottom: 50px
		z-index: 15
		@media (min-width: 769px) and (max-width: 1257px)
			right: -570px
		@media (max-width: 768px)
			min-width: auto
			width: 98%
			right: -98%
		&.open
			right: 0
		.nano-content
			right: -17px
		.content-slider-toggle
			position: absolute
			right: 15px
			font-size: 18px
			&:hover
				cursor: pointer
				opacity: .75
		.referer-toggle
			position: absolute
			right: 45px
			font-size: 17px
			&:hover
				cursor: pointer
				opacity: .75
