.details
  background: #fff
  font-size: 10px
  text-align: left
  @include animate(fadeIn)
  .detail
    display: block
    margin-bottom: 10px
    span
      display: inline-block
      margin-left: 3px
      padding: 2px 6px
      border: 1px solid $primary-color
      border-radius: 3px
      background: #f6f6f6
      i
        color: $primary-color
        margin-right: 5px
  .adress
    font-size: 12px
    font-weight: 600
    .tools
      margin-top: 6px
      a
        margin-right: 5px
        font-size: 13px
        @include transition()
        &:hover
          color: $primary-color
