form,.form
  .line
    margin: 0
    clear: both
    position: relative
    overflow: visible
    &.uk-grid
      margin-left: -25px
    label, input, select, textarea
      font-size: 15px
      line-height: 18px
      font-weight: normal
      &:focus
        outline: none
    label
      color: $fontcolor
      font-weight: 600
      display: block
      max-width: 635px
      padding-bottom: .8em
      -webkit-user-select: none
      -ms-user-select: none
      &.show-password
        padding-left: 30px
        color: $primary-color
        cursor: pointer
        position: relative
        &:hover
          color: darken($primary-color, 10%)
        &::before
          display: inline-block
          position: absolute
          left: 0
          content: '\e087'
          font-family: 'simple-line-icons'
          font-size: 20
          vertical-align: top
    textarea, input[type="text"], input[type="password"], input[type="file"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
      min-height: 52px
      font-size: 17px
      line-height: 20px
      padding: 0 15px
      display: inline-block
      margin-bottom: 2em
      vertical-align: middle
      border-radius: 3px
      min-width: 50px
      max-width: 635px
      width: 100%
      background-color: #ffffff
      border: 2px solid #c9c9c9
      margin: 0 0 24px 0
      @include transition()
      &:hover
        cursor: pointer
        border-color: darken(#c9c9c9, 20%)
      &:focus
        border-color: $primary-color
    button
      border: 0 none
      border-radius: 3px
      display: inline-block
      padding: 0 42px
      height: 48px
      line-height: 49px
      color: #ffffff
      font-size: 17px
      font-weight: 600
      text-align: center
      vertical-align: middle
      text-transform: capitalize
      -webkit-user-select: none
      -ms-user-select: none
      background-color: $primary-color
      -ms-transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s
      transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s
      &.small-padding
        padding: 0 32px
      &.full-width
        width: 100% !important
        max-width: 100% !important
      &:hover
        color: #fff
        background: darken($primary-color, 5%)
        cursor: pointer
    input[type="checkbox"]
      display: inline-block
      height: 24px
      width: 24px
      border: 3px solid #e2e2e2
      overflow: hidden
      margin-top: -4px
      border-radius: 3px
      vertical-align: middle
      -webkit-appearance: none
      outline: 0
      background: 0 0
      &.small
        width: 15px
        height: 15px
        &::before
          line-height: 12px !important
          font-size: 9px !important
      &:hover
        cursor: pointer
        border-color: #b7b7b7
      &:checked
        border-color: $primary-color
        background: $primary-color
        &:hover
          border-color: darken($primary-color, 5%)
          background: darken($primary-color, 5%)
        &::before
          display: block
          content: $fa-var-check
          font-family: 'FontAwesome'
          font-size: 16px
          -webkit-font-smoothing: antialiased
          text-align: center
          line-height: 19px
          color: #fff
    .field-help
      white-space: normal
      word-wrap: break-word
      width: 100%
      max-width: 635px
      font-size: 13px
      line-height: 18px
      font-weight: 600
      position: relative
      color: #848484
      margin-top: -19px
      margin-bottom: 18px
  &.small
    .line
      label, input, select, textarea
        font-size: 13px
        line-height: 18px
        font-weight: 600
        &:focus
          outline: none
      textarea, input[type="text"], input[type="password"], input[type="file"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]
        min-height: 44px
        font-size: 14px
        padding: 0 12px
  .uk-grid+.uk-grid
    margin-top: 0px
  .form-tools,.formtools
    padding: 0 35px 35px 35px

.app-form
  input, textarea
    font-family: UniformBold
    border-radius: 100px !important
    background: #f0f3f4 !important
    padding: 3px 18px !important
    font-size: 12px !important
    border: 0 !important
  textarea
    border-radius: 20px !important
    padding: 10px 18px !important
