//  Global styling
*
	margin: 0
	padding: 0
	color: inherit
	text-decoration: none
	box-sizing: border-box
	font-family: inherit
	list-style: none

body
	background: #f0f3f4
	color: $fontcolor
	padding-top: 68px

img
	border: none
	max-width: 100%
	height: auto

a
	cursor: pointer
input:focus
	outline: none
.link
	cursor: pointer
	color: $primary-color
	font-family: UniformBold
	&:hover
		color: darken($primary-color, 10%)
.hide
	display: none !important
.float-right
	float: right
.float-left
	float: left
.mb30
	margin-bottom: 30px !important
.alignc
	text-align: center !important
.alignl
	text-align: left !important
.inline-block
	display: inline-block !important
.centered
	float: none
	margin-left: auto
	margin-right: auto

.uk-grid.noPad
	padding-left: 0px
	>*:first-child
		padding-left: 0px
.block .uk-grid.uk-margin
	margin-left: -25px !important
.uk-grid-right
	padding-right: 25px


//Microsoft fixes
.uk-grid.container
	height: 100%
