$menu-width: 310px
.page-header
  position: fixed
  z-index: 22
  top: 0
  width: 100%
  .page-logo
    display: block
    float: left
    padding-left: 20px
    padding-right: 20px
    border-right: 1px solid #1e2a30
    width: 120px
    height: 68px
    text-align: center
    @media (max-width: 768px)
      width: 68px
    a
      display: block
    img
      margin: 20px 0 0
      height: 30px
  .page-top
    background: #283840
    box-shadow: $lowshadow
    height: 68px
    width: 100%
    .top-menu
      float: right
      margin: 0
      padding: 0
      .headernav
        right: -$menu-width
        position: absolute
        transition: all .9s ease
        @media (max-width: 400px)
          right: -210px
        >li
          float: left
          width: 68px
          align-items: center
          height: 68px
          transition: all .167s ease
          &.box
            border-left: 1px solid #1e2a30
            position: relative
            height: 68px
            max-width: 100%
            align-items: center
            text-align: center
            position: relative
            &.unread::before
              content: "●"
              min-width: 16px
              height: 16px
              border-radius: 16px
              color: #fff
              background: $primary-color
              position: absolute
              text-align: center
              top: 9px
              right: 9px
              display: flex
              align-items: center
              justify-content: center
              font-size: 10px
            .drop-down-container
              width: 300px
              border-radius: 0 0 5px 5px
              padding: 0
              box-shadow: 0 2px 6px rgba(0,0,0,.08)
              box-sizing: content-box
              position: absolute
              right: 0
              background: #283840
              text-align: left
              overflow: hidden
              display: none
            &.open .drop-down-container
              display: block
              .list
                height: 220px
                overflow: hidden
                overflow-y: scroll
                .nano-content
                  ul
                    li
                      overflow: hidden
                      a
                        position: relative
                        padding: 15px
                        display: block
                        overflow: hidden
                        .image
                          height: 38px
                          width: 38px
                          border-radius: 50%
                          background-color: #e4e4e4
                          float: left
                          text-align: center
                          overflow: hidden
                          img
                            height: 38px
                            width: 38px
                            font-size: 25px
                            color: #979595
                            line-height: 36px
                        .notification-info
                          padding-left: 50px
                          line-height: 14px
                          .text
                            font-weight: 500
                            color: #8a8a8a
                            font-size: 12px
                            line-height: 16px
                            .user-name
                              color: $primary-color
                              font-size: 13px
                          .date
                            color: #8a8a8a
                            display: block
                            font-size: 9px
                            margin-top: 4px
                            text-transform: uppercase
                      &.unread
                        background-color: rgba(105, 113, 126, 0.1)
                        .notification-info::after
                          content: ''
                          display: block
                          position: absolute
                          right: 15px
                          top: 20px
                          width: 6px
                          height: 6px
                          background-color: #4285f4
                          border-radius: 50%
              .footer a
                background: #bc1038
                font-size: 10px
                text-transform: uppercase
                font-family: UniformBold
                color: #fff
                text-align: center
                padding: 10px 0
                display: block
                outline: 0
            &:hover
              opacity: 1
              background: #364953
            >a
              padding: 22.8px 0
              display: block
              opacity: .5
              i
                color: #fff
                font-size: 23px
          &#user-menu-button:hover
            cursor: pointer
            opacity: .75
          &.submenu
            position: relative
            background: $menu-background
            border-bottom: 1px solid #1e2a30
            text-transform: uppercase
            font-size: 13px
            align-items: center
            padding: 15px 1.75em
            box-sizing: border-box
            color: #fff
            width: $menu-width
            @media (max-width: 400px)
              width: 210px
            i
              float: right
              font-size: 18px
              margin-top: -26px
              &:hover
                cursor: pointer
            small
              display: block
            .user-menu
              position: absolute
              top: calc(100% + 1px)
              height: 100vh
              right: 0
              background: inherit
              width: $menu-width
              font-size: 12px
              overflow: hidden
              overflow-y: scroll
              padding-bottom: 72px
              @media (max-width: 400px)
                width: 210px
              ul
                border-bottom: 1px solid #283840
                padding: 20px 24px
                li
                  a
                    display: block
                    font-style: inherit
                    text-transform: inherit
                    color: #c3cee0
                    padding: 6px 0
                    transition: opacity .167s ease
                    cursor: pointer
                    &:hover
                      color: #fff
        &.open
          right: 0px
    .page-actions
      float: left
      margin: 25px 0 0
      padding: 0
      color: #fff
      span
        padding-left: 25px
        font-size: 15px
        &:hover
          cursor: pointer
      @media (min-width: 767px)
        display: none
