.historyPanel
  margin: 0 -15px
  .history-entry
    margin: 0
    padding: 0 50px 20px 25px
    &+.history-entry
      padding-top: 20px
      padding-bottom: 20px
    &:not(:last-child)
      border-bottom: 1px dotted #ddd
    &:first-of-type
      padding-bottom: 30px
    &:first-child
      padding-top: 30px
      border-top: 1px dotted #ddd
    .entry-detail
      position: relative
      .icon
        position: absolute
        position: absolute
        display: inline-block
        margin-top: -3px
        margin-bottom: -3px
        margin-right: 1px
        padding: 3px
        >*
          color: #888 !important
          opacity: 0.5
          font-size: 13px
      .creation
          position: absolute
          top: -1px
          right: -30px
          font-size: 11px
          color: #888
      .entry-content
        display: block
        padding-left: 25px
        .creator
          font-size: 13px
          line-height: 12px
          color: #888
          padding: 0 0 7px 0
          margin-bottom: 0px !important
        p
          font-size: 14px
