.main-menu
  position: fixed
  top: 68px
  bottom: 0px
  left: 0px
  width: 120px
  background: $menu-background
  z-index: 700
  transition: all .9 ease
  @media (max-width: 768px)
    left: -120px
    &::before
      left: -120px
    &.open
      left: 0px
      &::before
        left: 0px
  &::before
    background-color: #3d4a53
    bottom: 0
    content: ''
    left: 0
    position: fixed
    top: 68px
    width: inherit
    z-index: 699
    transition: all .9 ease
  ul
    margin-bottom: 10px
    .nav-item
      >a
        color: #fff
        font-size: 13px
        display: block
        position: relative
        border: 0
        padding: 10px 15px
        text-decoration: none
        font-size: 13px
        font-weight: 300
        text-align: center
        border-bottom: 1px solid #495b65
        color: #c3cee0
        z-index: 700
        transition: all .2s
        &:hover
          background: #38444c
          i
            color: $primary-color
        i
          position: relative
          top: 2px
          margin-left: 1px
          margin-right: 4px
          color: #495b65
          font-size: 24px
          text-align: center
        .title
          display: block
          text-align: center
          margin-top: 5px
      .submenu
        background-color: #38444c
        left: 100%
        min-width: 268px
        min-height: calc(7.5rem + 2rem + 100%)
        padding: 20px 15px
        position: absolute
        top: 0
        transform: translateX(-100%)
        transition-property: transform, visibility
        transition-duration: .9s
        transition-timing-function: ease
        visibility: hidden
        z-index: 697
        .submenu-title
          color: #fff
          padding: 0 30px 0 15px
          display: block
          font-size: 22px
          font-weight: 600
          margin-bottom: 20px
        .action-close
          padding: 24px 28px
          position: absolute
          right: 0
          top: 0
          color: #fcfcfc
          font-size: 20px
          line-height: 26px
        .section
          .submenu-group-title
            padding: 0 15px
            font-size: 16px
            color: $primary-color
            margin-bottom: 12px
            padding-top: 10px
          ul
            li
              display: block
              a
                display: block
                width: 100%
                padding: 10px 15px
                font-size: 15px
                color: #fff
                transition: background-color .1s linear
                color: #fff
                &:hover
                  background-color: lighten(#38444c,5%)
      &.open
        >a
          background: #38444c
          i
            color: $primary-color
        .submenu
          transform: translateX(0)
          visibility: visible
  .version
    position: absolute
    bottom: 5px
    text-align: center
    color: #fff
    width: 100%
    z-index: 999
    font-size: 10px
    opacity: 0.2
