.add-modal
  z-index: 21
  background: #fff
  width: 50%
  min-width: 570px
  position: absolute
  right: -50%
  top: 0
  bottom: 0
  transition: all .9s ease
  box-shadow: $shadow
  @media (min-width: 769px) and (max-width: 1257px)
    right: -570px
  @media (max-width: 768px)
    min-width: auto
    width: 98%
    right: -98%
  &.open
    right: 0

.modal-header
  width: 100%
  padding: 30px 38px
  position: relative
  border-bottom: 1px solid rgba(40, 56, 64, 0.1)
  text-align: center
  font-size: 18px
  font-family: UniformBold
  text-transform: uppercase
  font-weight: 600
  margin-bottom: 25px

.modal-box
  position: absolute
  z-index: 20
  top: 25px
  left: 50%
  margin-left: -285px
  width: 100%
  height: 100%
  max-width: 570px
  min-height: 120px
  max-height: calc(100% - 100px)
  border-radius: 5px
  background: #283840
  box-shadow: $boxshadow
  color: #fff
  padding: 15px 20px
  opacity: 0
  visibility: hidden
  transition: all .3s ease
  overflow: hidden
  overflow-y: scroll
  &.show
    visibility: visible
    opacity: 1
  h3
    font-size: 16
    font-family: UniformBold
    text-transform: uppercase
  .close-modal
    position: absolute
    right: 0px
    top: 0px
    padding: 15px
    font-size: 16px
    &:hover
      cursor: pointer
  .tools
    margin: 25px 0 5px 0
  .content
    form
      .line
        label
          color: #fff
        input
          color: #484848
