.notification-container
  .notification
    position: relative
    pointer-events: auto
    overflow: hidden
    margin: 0 0 30px
    padding: 15px 15px 15px 50px
    width: 100%
    -moz-border-radius: 3px
    -webkit-border-radius: 3px
    border-radius: 3px
    background-position: 15px center
    background-repeat: no-repeat
    -moz-box-shadow: 0 0 12px #999
    -webkit-box-shadow: 0 0 12px #999
    box-shadow: 0 0 12px #999
    color: #fff
    opacity: .8
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80)
    filter: alpha(opacity=80)
    &.error
      background-color: #bd362f
      background-image: url(../images/error.png)
    .title
      font-weight: 700
    .message
      -ms-word-wrap: break-word
      word-wrap: break-word
