.page-bar
	margin: 0px 0px 20px 0px
	box-shadow: $shadow
	background:#fff
	&::before,&::after
		content: " "
		display: table
	&::after
		clear: both
	.page-breadcrumb
		display: inline-block
		float: left
		padding: 10px 6px
		margin: 0
		list-style: none
		li
			display: inline-block
			i
				color: #aaa
				font-size: 14px
			a
				color: #888
				font-size: 13px
