.panel
  padding: 15px
  position: r
  .panel-tools
    width: 100%
    text-align: right
    margin-bottom: 15
    a
      display: inline-block
      overflow: visible
      margin: 0
      box-sizing: border-box
      padding: 6px 11px 6px
      width: auto
      border: solid 1px $primary-color
      border-radius: 4px
      cursor: pointer
      vertical-align: middle
      font-size: 12px
      font-weight: 400
      white-space: nowrap
      line-height: 1.1
      background-color: #fff
      @include transition()
      &:hover
        color: #fff
        background: $primary-color
    &.float
      float: right
      margin-top: 15px
      width: auto
.empty-state
  display: block
  padding: 12px 0 12px 0
  border-radius: 5px
  border: 1px dashed #e0e0e0
  text-align: center
  span
    color: #e8e8e8
    padding: 10px
    font-size: 22px
  p
    padding: 0 10px
    font-size: 13px
