.signin
  background: #fff
  .logomark
    margin: 30px 0 12px 0
    background: url(/assets/images/logomark.svg) no-repeat scroll 50% 0 transparent
    background-size: 120px
    height: 130px
  form
    padding: 0 20px
    .headline
      text-align: center
      margin-bottom: 30px
    p>a
      border-bottom: 1px solid
  .loginimage
    background: url(/assets/images/signin-vinter.jpg)
    background-size: cover
  .stay-signed-in
    margin-right: 15px
  .accountSelectBox li
    a
      display: block
      padding: 0 18px
      color: #484848
      border-bottom: 1px solid #d9d9d9
      text-decoration: none
      outline: 0
      height: 60px
      line-height: 60px
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      transition: none
      &:hover
        background: $primary-color
        color: #fff
      span
        position: absolute
        right: 18px
        top: 22px
    &:first-child
      a
        border-top: 1px solid #d9d9d9
