.task-list
  li
    display: block
    padding: 8px 0px 2px
    margin-left: 0px
    overflow: hidden
    list-style: none
    &:first-child
      margin-top: 7px
      padding-top: 10px
    .checkbox
      padding-top: 5px
      float: left
      width: 20px
    .detail
      margin-left: 20px
      display: block
      line-height: 1.5em
      .task-title
        display: block
        a
          font-weight: 600
          font-size: 14px
          display: block
          @include transition()
          &:hover
            color: $primary-color
        .label
          color: #fff
          padding: 2px 4px 2px
          vertical-align: 1px
          font-size: 12px
          display: inline-block
          line-height: 1.4em
          border-radius: 3px
          &.overdue
            background: #e66464
          &.highlight
            background: #444
        .more-detail
          padding-right: 10px
          margin-bottom: 4px
          display: block
          line-height: 1.6em
          color: #888
      .task-deadline
        color: #4e575f
        font-size: 13px
        display: block
        padding: 4px 0px
        line-height: 1.5em
        i
          font-size: 11px
          margin-right: 6px
    &.completed
      text-decoration: line-through
