.twitter-typeahead
  width: 100%
  .tt-menu
    top: 43px !important
    width: 100%
    background: #fff
    border: 2px solid #c9c9c9
    border-top: none
    padding: 10px
    box-shadow: $lowshadow
    .tt-suggestion
      padding: 4px
      &:hover
        cursor: pointer
        background: #eee
