//Fonts
body
	font-family: $body-font
	font-weight: normal
	font-size: 12px
	color: $fontcolor
	line-height: 1.6


	h1,h2,h3,h4,h5,h6
		font-family: $heading-font
		font-weight: normal
		line-height: 1.2

	h1
		font-size: 30px
		font-weight: 600
		outline: 0
    line-height: 1.6em
    margin-bottom: .2em
    letter-spacing: -0.029em
    text-transform: capitalize
		&:last-child
			margin-bottom: 0
	h2
		margin-bottom: 12px
		font-size: 30px
		font-weight: 600
		line-height: 1
	h3
		margin-bottom: 18px
		font-size: 18px
		font-weight: 700
		font-family: UniformBold
	h4,.h4, h5, h6
		font-size: 17px
		font-weight: 600
		font-family: $body-font
	p
		margin-bottom: 25px
		&:last-child
			margin-bottom: 0
		+ h1
			margin-top: -25px
	p
		a
			color: $primary-color
			transition: color .2s
			&:hover
				color: darken($primary-color, 10%)
		li
			position: relative
			//margin-bottom: 12px
			//padding-left: 18px
