.contacts
  .header
    display: flex
    margin-bottom: 10px
    .header-image
      flex-shrink: 0
      margin-right: 10px
      .changeable-avatar
        vertical-align: middle
        width: 73px
        height: 73px
        border-radius: 5px
        position: relative
        overflow: hidden
        border-radius: 5px
        .avatar
          vertical-align: middle
          width: 73px
          height: 73px
          border-radius: 5px
        .changeable-avatar-link
          appearance: none
          cursor: pointer
          text-align: left
          background: none
          font: inherit
          border: 0
          margin: 0
          padding: 0
          transition: top 0.15s,background-color 0.2s,color 0.3s
          display: flex
          box-orient: vertical
          flex-direction: column
          box-align: center
          align-items: center
          box-pack: center
          justify-content: center
          color: transparent
          position: absolute
          font-size: 15px
          font-weight: 400
          top: 100%
          left: 0
          width: 100%
          height: 100%
        &:hover
          .changeable-avatar-link
            top: 0
            color: rgba(255,255,255,0.9)
            background-color: rgba(0,0,0,0.65)
    .header-text
      align-self: center
      h1
        margin: 0 0 2px 0
        font-size: 18px
        font-weight: 300
        position: relative
        i
          position: absolute
          top: 4px
          right: -25px
          font-size: 13px
          &:hover
            opacity: .75
            cursor: pointer
        .contact-tools
          border-radius: 5px
          padding: 0
          box-shadow: 0 2px 6px rgba(0,0,0,.08)
          box-sizing: content-box
          background: #283840
          color: #fff
          font-size: 12px
          overflow: hidden
          li
            a
              padding: 8px 20px
              display: block
              &.delete
                background: #bc1038
                &:hover
                  background: #e3214e
              &:hover
                background: #2e3e46
      .subtitle
        color: #888
        margin-bottom: 6px
        line-height: 1.3
        span
          display: block
          a
            color: $primary-color
            &:hover
              color: darken($primary-color, 10%)
      .social-links
        font-size: 14px
        .facebook
          color: #435c9a
        .linkedin
          color: #2a7fb6
        .skype
          color: #43b5f0
  .summary
    margin: 0 15px
    li
      font-weight: 400
      font-size: 15px
      line-height: 20px
      color: #4e575f
      text-align: left
      display: inline-block
      padding-left: 40px
      padding-top: 25px
      padding-bottom: 25px
      margin-right: 20
      .icon
        width: 30px
        height: 30px
        position: absolute
        border: 1px solid $primary-color
        border-radius: 40px
        color: $primary-color
        margin-left: -40px
        margin-top: 3px
        span
          padding: 8px
          color: $primary-color
          font-size: 12px
          line-height: 29px
    h4
      display: block
      color: #888
      font-weight: 400
      font-size: 9px
      text-transform: uppercase
      letter-spacing: 1px
      padding: 0
  .uk-tab
    margin: 0
    padding: 0
    background-color: #f8f8f8
    border-bottom: 1px solid #e6e4e4
    border-top: 1px solid #e6e4e4
    padding: 10px 20px
    li
      display: inline-block
      margin: 0
      border-radius: 100px
      padding: 7px 12px
      list-style: none
      font-size: 12px
      a
        padding: 0px !important
        border: none !important
        background: transparent !important
        color: inherit !important
        line-height: 14px
        .rounded-counter
          border-radius: 100px
          display: inline
          font-size: 9px
          margin-left: 6px
          margin-right: 1px
          padding: 2px 5px
          color: $primary-color
          background-color: #fff
          border: 1px solid #e5e5e5
        &:hover
          margin-bottom: 0px !important
      &.uk-active
        background-color: $primary-color
        color: #fff

      &.uk-tab-responsive
        display: none !important
